<div class="splash-container">
<h1 class="title">Budget Mate</h1>


<div class="buttons">
    <%= button_to "LOG IN" , new_user_session_path %>
    <%= link_to "SIGN UP" , new_user_registration_path %>
</div>

</div>