<div class="splash-container">
<h1 class="title">Budget Mate</h1>
<h4 class="sub-title">Catalog your transactions</h4>
<div class="buttons">
    <%= link_to "LOG IN" , new_user_session_path , class: "signin button" %>
    <%= link_to "SIGN UP" , new_user_registration_path , class: "signup button"%>
</div>

</div>