<div class="category-header">
   <a href="<%= categories_path %>">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
    <h2>My Transactions</h2>
    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
    </a>
</div>