* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova";
  /* border: 2px solid red; */
}

:root {
  --primary-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;
}

.splash-container {
  background-color: white;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    color: var(--text-color);
  font-size: 3rem;
  margin-bottom: 4rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 5px;
  width: 100%;
  padding: 1em;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, .buttons a {
  background-color: #5fb523;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  width: 10%;
}

button:hover, buttons a:hover {
  background-color: #434b54;
  cursor: pointer;
}

.signup {
    background-color: white;
    color: var(--text-color);
}

.signup:hover {
    background-color: white;
    color: var(--secondary-color);
}

.credential-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--primary-color);
    height: 100vh;
}

.credential-form h2 {
  color: white;
  margin-bottom: 2em;
}
.container-form {
  background-color: white;
  padding: 2em 4em;
  border-radius: 8px;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field input[type="email"],
.field input[type="password"] {
  border: none;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 0;
  color: var(--text-color);
  background-color: #fff;
  margin-bottom: 10px;
}


.field input[type="email"]:focus,
.field input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 15px;
  /* transition: 0.2s ease; */
}

.field label {
  display: none;
}

.actions {
  margin-top: 10px;
}

.remember-me-label {
  color: var(--text-color);
}