<div class="category-header">
    <i class="fa-solid fa-bars" />
    <h2>My Categories</h2>
    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
    </a>
</div>

<div class="categories-container">
    <% if @categories.empty? %>
        <p>You have no categories yet.</p>
    <% else %>
        <% @categories.each do |category| %>
            <a href="<%= category_payments_path(category.id) %>">
                <div class="category">
                <img src="<%= category.icon %>" alt="icon" class="category-icon">
                <p class="cname"><%= category.name %></p>
                <p class="ctotal"> $ <%= category.total_transaction_amount %> </p>
                </div>
            </a>
  <% end %>
  <% end %>
</div>